.emailInput{
    height:30px;
    border-radius:20px;
    border:none;
    background-color:rgb(216,198,173);
    padding-left:13px;
    color:white;
}
.emailInput::placeholder {
    color:white;
    font-size:17px;
}

.passInput{
    height:30px;
    border-radius:20px;
    border:none;
    background-color:rgb(216,198,173);
    color:white;
    padding-left:13px;

}
.passInput::placeholder {
    color:white;
    font-size:17px;
}

.userName::placeholder {
    color:white;
    font-size:15px;
}

.emailInput{
    width:300px;
    height:50px;
    border-radius:20px;
    border:none;
    background-color:rgb(216,198,173);
    color:white;
}

.emailInput::placeholder {
    color:white;
    font-size:17px;
}

.passInput{
    width: 300px;
    height:50px;
    border-radius:20px;
    border:none;
    background-color:rgb(216,198,173);
    color:white;
}
.passInput::placeholder {
    color:white;
    font-size:17px;
}

.userName{
    width:300px;
    height:50px;
    border-radius:20px;
    border:none;
    background-color:rgb(216,198,173);
    color:white;
    padding-left:13px;

}
.userName::placeholder {
    color:white;
    font-size:17px;
}
.input-container {
    position: relative;
}
.eye-icon {
  transform: translateY(-50%);
  cursor: pointer;
  color: white;
  position: absolute;
  right:15px;
  top:25px;
}
.div-input-pass{
    position: relative;
}
.submitButton{
    width:100px;
    height:30px;
    background-color:rgb(233,101,0);
    border:none;
    border-radius:20px;
    color:white;
    font-size:15px;
}
.form-email-error-text{
    color:red;
    font-size:19px;
}
.form-user-error-text{
    color:red;
    font-size:19px;
}

.form-pass-error-text{
    color:red;
    font-size:19px;    
    padding-left:35px;
}
